.header__lang-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #FFFFFF;  
    text-decoration: none;
}    
.header__lang-link:first-child {
    margin-right: 18px;
}
.header__lang-link:checked {
    text-decoration: underline;
}


.header__lang-link_right {
    margin-right: 10px;
}


.header__lang-link_off {
position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: inset(0 0 0 0);
}

 .header__lang-link_off:checked + .header__lang-link {
text-decoration: underline;
}
