.header__lang-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #FFFFFF;  
    text-decoration: none;
}    
.header__lang-link:first-child {
    margin-right: 18px;
}
.header__lang-link:checked {
    text-decoration: underline;
}

