.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 3;
  height: 0;
  padding-bottom: 62.5%;
}
.cover__link::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
}
.cover__link:hover::before {
  opacity: 0.8;
}
@media (min-width: 1185px) {
  .cover__link {
    width: 1184px;
  }
}
