.intro__list {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
    padding: 0;
    margin: 34px calc((100% - 90%)/2) 0;
    
}
@media  (min-width : 768px) {
    .intro__list {
        margin: 33px 24px 0;
    }
}