.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 16px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header {
    padding-top: 28px;
    width: 93.75%;
  }
}
@media (min-width: 1024px) {
  .header {
    width: 90.625%;
  }
}
@media (min-width: 1280px) {
  .header {
    width: 92.5%;
  }
}
