.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 40px calc((100% - 90%)/2) 0;
}
@media  (min-width : 768px) {
    .intro__text {
        margin-left: 24px;
    }
}
