.intro {
    width: 90%;
    margin: 0 auto;
}
@media (min-width : 768px) {
    .intro {
        width: 93.75%;
    }
}
@media (min-width : 1024px) {
    .intro {
        width: 90.625%;
    }
}
@media (min-width : 1280px) {
    .intro {
        width: 76.25%;
    }
}