.cover {
  margin-top: 66px;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .cover {
    margin: 90px auto 0;
  }
}
@media (min-width: 1185px) {
  .cover {
    width: 1184px;
  }
}
