.cover__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  width: 71%;
  max-width: 560px;
  position: relative;
}
@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}
