.footer {
    display: flex;
    flex-direction: column;
    width: 90%;   
    padding-top: 64px;
    box-sizing: border-box;
}
@media  (min-width : 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 88px;
        padding-bottom: 24px;
        min-width: 720px;
        align-items: flex-end;
        min-width: 720px;
    }
}
@media  (min-width : 1024px) {
    .footer {
       padding-top: 92px;
       min-width: 928px;
    }
}
@media  (min-width : 1280px) {
    .footer {
       padding-top: 92px;
       min-width: 1184px;
    }
}