.intro__title {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
  margin-top: 64px;
  width: 87%;
}
@media (min-width: 768px) {
  .intro__title {
    width: 95%;
    font-size: 54px;
    line-height: 58px;
    margin-top: 89px;
  }
}
@media (min-width: 1024px) {
  .intro__title {
    margin-top: 93px;
  }
}
